/* http://paletton.com/#uid=33r0l0kgDoo6VCzbDtrlbk7qleR */

body {
  background-color: #333333;
}

.title {
  background-color: #999999;
  text-align: center;
  padding: 5px;
}

a.button {
	text-decoration: none;
	background-color: #4CAF50;
	color: white;
	padding: 3px 10px 3px 10px; /* top right bottom left */
	border: none;
	margin-left: 10px
}

.alignright {
	float: right;
}
