/* http://paletton.com/#uid=33r0l0kgDoo6VCzbDtrlbk7qleR */

body {
  background-color: #333333;
}

.title {
  background-color: #999999;
  /*color: #10394B;*/
  text-align: center;
  padding: 5px;
}

#functions {
  text-align: center;
  margin-top:100px;
}

#functions1 {
	margin-left: 100px;
	margin-top: 50px;
	margin-right: 200px;
}
#functions2 {
	margin-left: 1000px;
	margin-top: 50px;
	margin-right: 2000px;
}
