/* http://paletton.com/#uid=33r0l0kgDoo6VCzbDtrlbk7qleR */


textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  resize: none;
  width: 80%;
  height: 500;
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}

input[type='text'] {
  width: 80%;
  margin-bottom: 10px;
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}

#text-inputs {
  text-align: center;
}

#functions1 {
	margin: 50px auto 10px auto; /* top right bottom left */
	width: 80%;
	display: block;
}

#functions2 {
	width: 80%;
	display: block;
	margin: 10px auto 10px auto;
	border: none;
}

#controls {
	background-color: #4CAF50;
	color: white;
	width: 20%;
	padding: 10px;
}

#functions2 input[type='text'] {
	width: 100px;
}
