<html>
	<head>
		<link rel='stylesheet' href="{{ url_for('static', filename='index.css') }}">
		<link rel='stylesheet' href="{{ url_for('static', filename='general.css') }}">
		<script rel='text/javascript' src="{{url_for('static', filename='rest_client.js')}}"></script>
	</head>

	<body>
		<div class=title>
			<h1>Pykov Text Generator</h1>
		</div>
		<div id=functions1>
		<select>
				<option onClick="clear_corpus()" selected></option>
				<!-- Add default texts -->
				{% for item in texts[0] %}
					<option onClick=get_corpus({{item[0]}}) value='{{item}}'>{{item[0]}} - {{item[1]}}</option>
				{% endfor %}
				{% for item in texts[1] %}
					<option onClick="get_corpus({{item[0]}}, '{{session["token"]}}')" value='{{item}}'>{{item[0]}} - {{item[1]}}</option>
				{% endfor %}
			</select>
			
			{% if session['username'] %}
				<div class=alignright>
					Welcome, {{session['username']}}.
					<form method='POST' action='/logout'>
						<input class='button alignright' type='submit' value='Logout'>
					</form>
				</div>
			{% else %}
				<a class='alignright button' href="login.html">Login</a>
				<a class='alignright button' href="signup.html">Sign Up</a>
			{% endif %}
		</div>
		<div id=alltext>
		<div id=textleft class=alignleft>
		
			<textarea id=corpus placeholder='Welcome to the Pykov Text Generator. To use, either select a default file from the dropdown above, or log in and submit your own texts to generate from. After selecting your desired text, input an integer number under generate and behold the results!'></textarea>
		
			<div id=functions2>
				{% if session['username'] %}
				<input class='button alignleft' onClick=save_corpus("{{session['token']}}") type="submit" value="Save">
				{% endif %}
				<input class='button alignright' id=generate onClick=generate() type="submit" value="Generate">
				<input id=wordcount class=alignright placeholder='Word Count' type="text">
			</div>
		
		</div>
		<div id=textright class=alignright>
			<textarea id =generated placeholder="This is where generated text will appear!"></textarea>
		</div>
		</div>
	</body>
</html>
