<html> 
	<head>
    <link rel='stylesheet' href="{{ url_for('static', filename='general.css') }}">
	</head>
	<body>
		<div class=title>
			<h1>Pykov Text Generator</h1>
		</div>
		<div id=functions>
		<h4>User Name:</h4><input type="text" id="userName" class="form-control input-sm chat-input"/>
		</br>
		<h4>Password:</h4><input type="password" size="40" maxlength="50" id="userPassword" class="form-control input-sm chat-input"/>
		</div>
		<div>
		</br>
		<button id="button" class="btn btn-primary btn-block">Login </button>
		<a href="signup.html"><button id="button" class="btn btn-primary btn-block">Sign Up</button></a>
		</div>
	<body>
</hmtl>