/* http://paletton.com/#uid=33r0l0kgDoo6VCzbDtrlbk7qleR */


textarea {
  display: block;
  
  resize: none;
  width: 100%;
  height: 500;
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}

form {
	display: inline;
	margin-left: 30px;
}

input[type=submit] {
  margin: 0px;
}

input[type='text'] {
  width: 80%;
  margin-bottom: 10px;
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}

#alltext {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 500;
		width: 80%;	
}

#textleft {
		width: 49%
}

#textright {
		width: 49%
}

#functions1 {
	margin: 50px auto 10px auto; /* top right bottom left */
	width: 80%;
	display: block;
	color: #FFFFFF;
}

#functions2 {
	width: 100%;
	display: block;
	margin: 5px auto auto auto;
	border: none;
	/*background-color: #4CAF50;*/
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}

#functions2 input[type='text'] {
	width: 80px;
}

#generate {
	margin-left: 5px;
}
